<h1>Welcome to the finance tracker app</h1>

<!--devise help us handle the sign in , we need provide the sign out link ot user-->
<!--we don't need below link anymore since we add the btn logout-->
<!-- <%= link_to "logout", destroy_user_session_path, method: :delete %> -->
